@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
html,
body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

h1 {
  font-size: larger;
  font-weight: bold;
}
